<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFanRegistrationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40396/FanRegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFanRegistrationService" contract="FanRegistrationServiceReference.IFanRegistrationService" name="BasicHttpBinding_IFanRegistrationService" />
    </client>
  </system.serviceModel>
</configuration>